@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 245, 245, 245; /* #f5f5f5 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 245, 245, 245; /* #121212 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Adicione as customizações específicas do componente Steps aqui */
.custom-steps .ant-steps-item-title {
  @apply text-orange-600 font-semibold; /* Texto em laranja e negrito */
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  @apply bg-orange-600 border-orange-600 text-white; /* Ícone laranja com texto branco */
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  @apply bg-orange-600 border-orange-600 text-white; /* Ícone laranja com texto branco para passos concluídos */
}

.custom-steps .ant-steps-item-wait .ant-steps-item-icon {
  @apply bg-white border-orange-600 text-orange-600; /* Ícone branco com borda laranja para passos não iniciados */
}

.custom-steps .ant-steps-item-icon {
  @apply border rounded-full; /* Adiciona borda arredondada ao ícone */
}

.custom-steps .ant-steps-item-title {
  @apply font-bold; /* Fonte em negrito */
}

.custom-steps .ant-steps-item-icon {
  @apply w-8 h-8; /* Define o tamanho dos ícones */
}

.custom-steps .ant-steps-item {
  @apply mb-4; /* Espaço entre os itens */
}