.navbar {
    background-color: white; /* Fundo branco para a navbar */
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e5e7eb; /* Linha de separação suave */
}

.navbarDark {
    background-color: #003366; /* Azul escuro para o modo escuro */
    border-bottom: 1px solid #002244; /* Linha de separação mais escura para o modo escuro */
}

/* Container da Navbar */
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Estilo do logo */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo img {
    height: 2rem;
}

.logo span {
    font-size: 2rem;
    font-weight: 600;
    color: black; /* Cor do texto do logo */
}

.logoDark {
    color: white; /* Cor do texto do logo no modo escuro */
}

/* Espaço entre os botões */
.spaceBetweenButtons {
    width: 10px; /* Espaço entre botões */
}

/* Estilo dos botões */
.btnPrimary {
    color: white;
    background-color: #1d4ed8; /* Azul para o botão */
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btnPrimary:hover {
    background-color: #1e40af; /* Azul mais escuro para hover */
}

/* Estilo do menu button */
.menuButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #003366; /* Azul escuro para o botão de menu */
    border-radius: 0.5rem;
}

.menuButton:hover {
    background-color: #f0f4f8; /* Fundo claro para hover */
}

.menuIcon {
    width: 1.25rem;
    height: 1.25rem;
}

/* Estilo do menu da Navbar */
.navbarMenu {
    display: flex; /* Adicionado para exibir os itens em linha */
    flex-direction: row; /* Alinha os itens horizontalmente */
    margin-top: 1rem;
    background-color: #ffffff; /* Fundo branco para o menu */
    border-radius: 0.5rem;
}

.navbarMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Adicionado para alinhar os itens em linha */
}

.navbarMenu li {
    margin-right: 1rem; /* Espaço entre os itens do menu */
}

.navbarMenu li:last-child {
    margin-right: 0; /* Remove o espaço à direita do último item */
}

/* Estilo dos links do menu */
.navLink {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #003366; /* Azul escuro para os links */
    border-radius: 0.5rem;
    background-color: #ffffff; /* Fundo branco para os links */
}

.navLink:hover {
    background-color: #e0e7ff; /* Azul muito claro para hover */
}

/* Link ativo */
.navLinkActive {
    background-color: #1d4ed8; /* Azul para o fundo ativo */
    color: white; /* Texto branco para o fundo ativo */
}